.sidenav-container {
  width: 100%;
  height: 100%;
}

.sidenav-container md-sidenav {
  width: 20%;
}

.sidenav-container .mat-sidenav-content,
.sidenav-container md-sidenav {
  display: flex;
  overflow: visible;
}

.side-menu-fab {
  position: absolute;
  right: 20px;
  top: 10px;
}
